h1 {
    color:black;
}

.selected {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}

.deselected {
    background-color:grey;
    color: white;
    font-weight: bold;
}

#total-bar {
    font-style: italic;
    font-weight: bold;
}